.cart {
  padding-bottom: 120px;
  @include media(max-width 768px) {
    padding-bottom: 30px;
  }
  .content__block {
    padding: 37px 30px 60px 29px;
    @include media(max-width 768px) {
      padding: 16px 2% 19px 2%;
    }
    &--bottom {
      margin-top: 10px;
      padding: 30px 30px 60px 29px;
      @include media(max-width 768px) {
        padding: 16px 2% 19px 2%;
      }
    }
  }
  &__block {
    @include clearfix;
  }
  &__header {
    border-bottom: 1px solid #dddddd;
    padding: 0 0 13px 0;
    @include clearfix;
    @include media(max-width 768px) {
      padding: 0 0 19px 0;
    }
  }
  &__head-titles {
    @include clearfix;
    text-align: left;
    float: right;
    @include ProCn;
    color: #535353;
    font-size: 1em;
    @include media(max-width 1180px) {
      width: 76%;
    }
    @include media(max-width 768px) {
      width: 100%;
    }
    .cart__col3, .cart__col4, .cart__col5, .cart__col6 {
      min-height: inherit;
    }
    .cart__col3 {
      @include media(max-width 1180px) {
        width: 33.92%;
      }
      @include media(max-width 768px) {
        width: auto;
        float: left;
        height: auto;
      }
    }
    .cart__col4 {
      @include media(max-width 1180px) {
        width: 21.19%;
      }
      @include media(max-width 768px) {
        display: none;
      }
    }
    .cart__col5 {
      @include media(max-width 1180px) {
        width: 21.01%;
      }
      @include media(max-width 768px) {
        display: none;
      }
    }
    .cart__col6 {
      @include media(max-width 1180px) {
        width: 17.75%;
      }
      @include media(max-width 768px) {
        width: auto;
        float: right;
        height: auto;
      }
    }
  }
  &__block {

  }
  &__item {
    @include clearfix;
    @include transition;
    border-bottom: 1px solid #dddddd;
    color: #535353;
    @include ProCn;
    font-size: 1em;
    @include media(max-width 768px) {
      min-height: 120px;
    }
    &:hover {
      background: #f8f8f8;
    }
  }
  &__col1, &__col2, &__col3, &__col4, &__col5, &__col6 {
    float: left;
    position: relative;
    min-height: 120px;
    @include media(max-width 768px) {
      height: 53px;
    }
  }
  &__col1 {
    width: 50px;
    @include media(max-width 1180px) {
      width: 4.5%;
    }
    @include media(max-width 768px) {
      display: none;
    }
  }
  &__col2 {
    width: 218px;
    text-align: center;
    display: table;
    @include media(max-width 1180px) {
      width: 19.62%;
    }
    @include media(max-width 768px) {
      display: none;
    }
    a {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      display: inline-block;
      margin-right: 31px;
    }
  }
  &__col3 {
    width: 288px;
    @include media(max-width 1180px) {
      width: 25.92%;
    }
    @include media(max-width 768px) {
      width: auto;
      min-height: 72px;
    }
    span {
      vertical-align: middle;
      display: table-cell;
      height: 120px;
      @include media(max-width 768px) {
        height: 53px;
      }
    }
  }
  &__col4 {
    width: 191px;
    @include media(max-width 1180px) {
      width: 16.19%;
    }
    @include media(max-width 768px) {
      display: none;
    }
    span {
      color: #be2c37;
      vertical-align: middle;
      display: table-cell;
      height: 120px;
    }
  }
  &__col5 {
    width: 189px;
    @include media(max-width 1180px) {
      width: 16.01%;
    }
    @include media(max-width 768px) {
      display: none;
    }
  }
  &__col6 {
    width: 175px;
    @include media(max-width 1180px) {
      width: 17.75%;
    }
    @include media(max-width 768px) {
      float: right;
      text-align: right;
      width: auto;
    }
    @include media(max-width 480px) {
      min-height: inherit;
    }
    span {
      color: #be2c37;
      vertical-align: middle;
      display: table-cell;
      height: 120px;
      @include media(max-width 768px) {
        height: 53px;
      }
    }
  }
  &__delete {
    width: 16px;
    height: 16px;
    display: block;
    background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -73px -25px;
    border: none;
    border-radius: 0;
    margin: -8px auto 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  &__value {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #eeeeee;
    top: 50%;
    margin-top: -25px;
    @include media(max-width 768px) {
      left: 50px;
    }
  }
  &__decreaseVal {
    width: 6px;
    height: 3px;
    border: none;
    background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -75px -50px;
    position: absolute;
    display: block;
    top: 26px;
    right: 4px;

  }
  &__count {
    -moz-appearance: textfield;
    @include Demi;
    font-size: 1em;
    border: none;
    margin: 12px 0 0 18px;
    background: none;
    @include placeholder {
      color: #535353;
    }
  }
  &__mobile-count {
    display: none;
    @include media(max-width 768px) {
      float: left;
      display: block;
      position: relative;
      width: 70%;
    }
  }
  &__increaseVal {
    width: 6px;
    height: 3px;
    border: none;
    background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -75px -45px;
    position: absolute;
    display: block;
    top: 21px;
    right: 4px;
  }
  &__sub-title {
    @include ProCn;
    color: #535353;
    font-size: 1.33em;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
  }
  &__row {
    display: inline-block;
    border-bottom: 1px solid #dddddd;
    font-size: 0.83em;
    @include clearfix;
    width: 100%;
    padding: 17px 0;
    &--middle {
      padding: 12px 0;
    }
    p {
      color: #535353;
      @include Demi;
      float: left;
    }
    span {
      color: #b62630;
      @include Demi;
      float: right;
    }
    label {
      margin: 10px 0 18px 0;
      display: block;
      input[type=checkbox] {
        display: none;
      }
      input[type="checkbox"] + span {
        &:before {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          left: 0;
          top: 0;
          background: url("../img/icon-sprites/checkbox-sprite.png") no-repeat 0 0;
        }
        position: relative;
        cursor: pointer;
        float: none;
        display: block;
        padding-left: 29px;
        line-height: 15px;
        color: #535353;
        @include Regular;
      }
      input[type="checkbox"]:checked + span {
        &:before {
          background: url("../img/icon-sprites/checkbox-sprite.png") no-repeat 0 -25px;
        }
      }
    }
  }
  .thanks__continue {
    float: right;
    margin-top: 35px;
    letter-spacing: inherit;
    @include media(max-width 768px) {
      margin-top: 17px;
      float: none;
      width: 100%;
    }
  }
}