.catalog__sort {
  width: 240px;
  height: 39px;
  background: #efefef url("../img/icon-sprites/select-arrow.png") no-repeat 93% center;
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -20px;
  padding-left: 10px;
  color: #919191;
  @include Regular;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-size: 0.83em;
  @include media(max-width 768px) {
    display: none;
  }
}

.catalog {
  @include clearfix;
  padding-bottom: 120px;
  @include media(max-width 768px) {
    padding-top: 20px;
  }
  &__sidebar {
    width: 378px;
    background: #ffffff;
    padding: 0 30px 20px 30px;
    overflow: hidden;
    float: left;
    @include media(max-width 1600px) {
      padding: 0 15px 20px 15px;
      width: 300px;
    }
    @include media(max-width 1280px) {
      width: 250px;
    }
    @include media(max-width 768px) {
      width: 100%;
      float: none;
      position: relative;
      padding: 0 15px 0 15px;
    }
  }
  &__extra-height{
    @include media(max-width 768px) {
      padding-bottom:20px;
    }
  }
  &__title {
    color: #535353;
    @include ProCn;
    font-size: 1.33em;
    position: relative;
    padding: 31px 0 28px 0;
    @include media(max-width 768px) {
      padding: 26px 0 28px 0;
    }
    &:before {
      content: '';
      bottom: 0;
      position: absolute;
      left: -30px;
      width: 378px;
      border-bottom: 1px solid #dddddd;
      display: block;
      @include media(max-width 768px) {
        width: 1000px;
      }
    }
  }
  &__mobile-button{
    display: none;
    width: 19px;
    height:19px;
    border:none;
    background: transparent;
    position: absolute;
    @include media(max-width 768px) {
      display: block;
      background: transparent url("../img/icon-sprites/index-icons-sprite.png")no-repeat -43px -25px;
      right: 20px;
      top: 28px;
    }
  }
  &__mobile-opened{
    background: transparent url("../img/icon-sprites/index-icons-sprite.png")no-repeat -43px -45px;
  }
  &__mobile-title {
    display: none;
    @include media(max-width 768px) {
      text-align: center;
      display: block;
      line-height: 95px;
      @include ProCn;
      color: #535353;
      font-size: 1.66em;
    }
  }
  &__tree {
    margin-top: 26px;
    @include media(max-width 768px) {
      display: none;
      margin-top: 29px;
    }
  }
  &__list {
    > li {
      position: relative;
      &:before {
        cursor: pointer;
        position: absolute;
        content: '';
        width: 9px;
        height: 8px;
        right: 0;
        top: 2px;
        background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -4px -29px;
      }
    }
    a {
      color: #535353;
      font-size: 0.83em;
      @include Regular;
      margin-bottom: 22px;
      display: block;
      &.active, &:hover {
        color: #be2c37;
      }
    }
    span {
      color: #bebebe;
      font-size: 0.83em;
    }
  }
  &__dropped {
    display: none;
    padding-left: 22px;
    a {
      margin-bottom: 21px;
    }
  }
  &__opened {
    > a {
      color: #be2c37;
    }
    &:before {
      background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -4px -32px !important;
      height: 2px !important;
      top: 4px !important;

    }
  }
  &__right {
    float: right;
    @include media(max-width 1580px) {
      width: 75%;
    }
    @include media(max-width 1180px) {
      width: 70%;
    }
    @include media(max-width 768px) {
      width: 100%;
      float: none;
    }
    .product {
      padding: 0;
    }
    .product__inner {
      width: 1218px;
      @include media(max-width 1580px) {
        width: 100%;
      }
      @include media(max-width 768px) {
        width: auto;
      }
    }
    .product__block {
      background: #ffffff;
      padding-bottom: 25px;
      margin-right: 14px;
      margin-left: 14px;
      @include media(max-width 1580px) {
        margin-right: 1%;
        margin-left: 1%;
        width: 31%;
      }
      @include media(max-width 1180px) {
        margin-right: 1%;
        margin-left: 1%;
        width: 48%;
      }
      @include media(max-width 768px) {
        width: 378px;
        float: none;
        margin: 0 auto 10px;
      }
      @include media(max-width 420px) {
        width: auto;
      }
    }
    .product__image {
      text-align: center;
      img {
        display: inline-block;
      }
    }
    .product__name {
      padding-left: 30px;
    }
    .product__text {
      padding-left: 30px;
      padding-right: 30px;
    }
    .product__price {
      padding-left: 30px;
    }
  }
}