#first-map {
  width: 100%;
  height: 450px;
  @include media(max-width 768px) {
    height: 300px;
  }
}

.map-switch {
  position: absolute;
  right: 0;
  @include clearfix;
  top: 50%;
  margin-top: -15px;
  @include media(max-width 480px) {
    margin-top: -21px;
    left: 50%;
    right: auto;
    margin-left: -75px;
    top: auto;
  }
}

.map-button {
  line-height: 29px;
  background: #212121;
  float: left;
  padding: 0 7px 0 8px;
  color: #ffffff;
  margin-right: 10px;
  @include ProCn;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0;
  &--right {
    float: right;
    margin-right: 0;
  }
}

.map-active {
  background: #b62630;
}

#second-adress {
  display: none;
}

.contact {
  margin-top: -120px;
  @include media(max-width 768px) {
    margin-top: 17px;
  }
  &__top {
    position: relative;
  }
  &__bottom {
    padding-bottom: 120px;
    @include media(max-width 768px) {
      padding-bottom:30px;
    }
  }
  &__info {
    position: absolute;
    line-height: 60px;
    background: #b62630;
    left: 0;
    right: 0;
    bottom: -60px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    @include ProCn;
    font-size: 1.33em;
    @include media(max-width 768px) {
      font-size: 1em;
    }
    @include media(max-width 360px) {
      font-size: 0.83em;
    }
    p {
      &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background: #ffffff;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -3px;
      }
      display: inline-block;
      position: relative;
      padding-right: 30px;
      &:last-child {
        padding-right: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  &__form {
    background: #ffffff;
    width: 980px;
    margin: 120px auto 0;
    padding: 30px;
    @include media(max-width 960px) {
      width: auto;
      margin: 120px 2%;
    }
    @include media(max-width 768px) {
      margin: 80px 2% 0;
      padding:20px;
    }
    form {
      @include clearfix;
    }
  }
  &__input {
    background: #eeeeee;
    border-radius: 0;
    width: 300px;
    height: 50px;
    float: left;
    @include noShadowIos;
    border: none;
    padding: 0 0 0 14px;
    margin: 0 10px 10px 0;
    font-style: italic;
    @include ProCn;
    font-size: 1em;
    @include placeholder {
      color: #848484;
    }
    @include media(max-width 960px) {
      width: 32.6%;
      margin-right: 1%;
    }
    @include media(max-width 768px) {
      width: 100%;
      margin-right:0;
    }
    &:last-of-type {
      margin: 0;
      @include media(max-width 768px) {
        margin-bottom:10px;
      }
    }
  }
  &__area {
    font-style: italic;
    background: #eeeeee;
    border-radius: 0;
    width: 100%;
    height: 310px;
    float: left;
    @include noShadowIos;
    border: none;
    margin: 0 0 10px 0;
    resize: none;
    padding: 14px 0 0 14px;
    @include ProCn;
    font-size: 1em;
    @include placeholder {
      color: #848484;
    }
  }
  &__send {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -12px;
      margin-left: -62px;
      background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -129px -30px;
      width: 19px;
      height: 19px;
    }
    position: relative;
    @include Medium;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
    width: 100%;
    border: none;
    background: #212121;
    border-radius: 0;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    padding: 0 0 0 27px;
    &:hover{
      background: #b62630;
    }
  }
}