$body-font-size: 1em !default;
$body-line-height: golden-ratio(1.2em, 1) !default;

/////////////////////LOGO OPTIONS///////////////////
$size: 204px;
$height: 86px;

@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin ProCn {
  font-family: 'AvenirNext LT Pro Cn', 'Arial', 'sans-serif';
  font-weight: 400;
}

@mixin Demi {
  font-family: 'AvenirNext LT Pro Regular', 'Arial', 'sans-serif';
  font-weight: 600;
}

@mixin Medium {
  font-family: 'AvenirNext LT Pro MediumCn', 'Arial', 'sans-serif';
  font-weight: 500;
}

@mixin Regular {
  font-family: 'AvenirNext LT Pro Regular', 'Arial', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@mixin Bold {
  font-family: 'AvenirNext LT Pro Bold', 'Arial', 'sans-serif';
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin noShadowIos {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


body {
  min-height: 800px;
  height: 100%;
  font-size: 18px;
  position: relative;
}

.big-wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.medium-wrap {
  width: 1600px;
  margin: 0 auto;
  @include media(max-width 1600px) {
    width: auto;
    margin: 0 2%;
  }
}

.small-wrap {
  width: 1170px;
  margin: 0 auto;
  @include media(max-width 1170px) {
    width: auto;
    margin: 0 2%;
  }
  &--header {
    @include media(max-width 768px) {
      margin: 0;
    }
  }
}

img {
  display: block;
}





