.details-outer {
  @include clearfix;
  padding-bottom: 95px;
  @include media(max-width 768px) {
  padding-bottom: 30px;
  }
  .catalog {
    padding-bottom: 0;
    @include media(max-width 768px) {
      padding-top: 0;
    }
  }
  .catalog__sidebar {
    @include media(max-width 768px) {
      display: none;
    }
  }
  .catalog__right{
    @include media(max-width 480px) {
      display: none;
    }
  }
}

.details {
  padding: 10px 0 50px 45px;
  background: #ffffff;
  width: 1195px;
  float: right;
  @include media(max-width 1600px) {
    width: 77%;
    padding: 10px 0 50px 25px;
  }
  @include media(max-width 1180px) {
    width: 70%;
  }
  @include media(max-width 768px) {
    width: 100%;
    float: none;
    padding: 10px 2% 32px 2%;
  }
  &__top {
    @include clearfix;
  }
  &__slider {
    float: left;
    width: 540px;
    @include media(max-width 1600px) {
      width: 45%;
    }
    @include media(max-width 1180px) {
      width: 40%;
    }
    @include media(max-width 768px) {
      width: 500px;
      margin: 0 auto;
      float: none;
    }
    @include media(max-width 580px) {
      width: 100%;
    }
  }
  &__slider-image {
    a {
      display: block;
    }
    img {
      display: block;
      cursor: pointer;
    }
  }
  &__carousel-image {
    img {
      display: block;
      cursor: pointer;
      opacity: 0.5;
      @include transition;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__info {
    float: right;
    width: 565px;
    color: #535353;
    margin-top: 31px;
    @include media(max-width 1600px) {
      width: 45%;
    }
    @include media(max-width 1180px) {
      width: 55%;
    }
    @include media(max-width 768px) {
      width: 100%;
      float: none;
    }
  }
  &__title {
    font-size: 1.33em;
    @include ProCn;
    margin-bottom: 32px;
    @include media(max-width 768px) {
      margin-bottom: 37px;
    }
  }
  &__size {
    font-size: 0.83em;
    @include Regular;
    @include clearfix;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
    .col-1 {
      width: 107px;
      float: left;
      p {
        margin-bottom: 10px;
      }
    }
    .col-2 {
      float: left;
      p {
        margin-bottom: 10px;
      }
      p {
        &:last-child {
          color: #b62630;
        }
      }
    }
  }
  &__options {
    font-size: 0.83em;
    width: 365px;
    margin-bottom: 30px;
    select {
      background: #eeeeee url("../img/icon-sprites/details-select-arrow.png")no-repeat  95% center;
      width: 100%;
      height: 50px;
      border: none;
      color: #919191;
      @include ProCn;
      font-style: italic;
      margin-bottom: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      padding-left:15px;
    }
  }
  &__row {
    @include clearfix;
    width: 365px;
    @include media(max-width 1180px) {
      width: 339px;
    }
    @include media(max-width 420px) {
    width: 299px;
    }
    @include media(max-width 360px) {
      width: 275px;
    }
  }
  &__select-block {
    width: 256px;
    @include clearfix;
    float: right;
    @include media(max-width 1180px) {
      width: 230px;
    }
    @include media(max-width 420px) {
      width: 190px;
    }
    @include media(max-width 360px) {
      width: 180px;
    }
    img {
      float: left;
      display: block;
      margin-right: 10px;
    }
  }
  &__option-title {
    margin-top: 18px;
    float: left;
    width: 109px;
    @include Demi;
    @include media(max-width 420px) {
      width: 90px;
    }
  }
  &__buttons {
    border-top: 1px solid #dddddd;
    padding-top: 30px;
  }
  &__b-button {
    @include clearfix;
  }
  .cart__value {
    float: left;
    margin-right: 10px;
    position: relative;
    top: auto;
    margin-top: 0;
    @include media(max-width 768px) {
      left: auto;
    }
  }
  &__add-to-cart {
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat  -97px -26px;
      width: 18px;
      height: 15px;
      margin-top: -9px;
      margin-left: -50px;
    }
    background: #212121;
    color: #ffffff;
    text-align: center;
    position: relative;
    border: none;
    display: block;
    width: 162px;
    height: 50px;
    vertical-align: middle;
    border-radius: 0;
    float: left;
    margin-right: 10px;
    @include Medium;
    font-size: 1em;
    padding: 0 0 0 30px;
    @include media(max-width 1180px) {
      width: 130px;
    }
    @include media(max-width 480px) {
      width: 166px;
    }
    @include media(max-width 400px) {
      width: 115px;
    }
    &:hover {
      background: #b62630;
    }
    &--price {
      &:before {
        display: none;
      }
      line-height: 50px;
      width: 135px;
      float: left;
      margin-right: 0;
      background: #b62630;
      padding: 0;
      @include media(max-width 480px) {
        width: 134px;;
      }
      @include media(max-width 400px) {
        width: 90px;
      }
      &:hover {
        background: #b62630;
      }
    }
  }
  &__text {
    @include Regular;
    font-size: 0.83em;
    color: #535353;
    margin-left: -13px;
    line-height: 25px;
    margin-top: 30px;
    @include media(max-width 480px) {
      margin-top: 18px;
      margin-left:0;
    }
  }
  &__list {
    margin-top: 24px;
    @include media(max-width 480px) {
      display: none;
    }
    li {
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        top: 50%;
        margin-top: -4px;
        background: #b62630;
        left: 0;
      }
      position: relative;
      padding-left: 23px;
      margin-bottom: 10px;
    }
  }
}