footer {
  background: #212121;
}

.footer {
  height: 106px;
  position: relative;
  @include flex;
  justify-content: space-between;
  align-items: center;
  @include media(max-width 768px) {
    height: 275px;
    display: block;
    text-align: center;
    padding: 27px 0 0 0;
  }
  @include media(max-width 360px) {
    padding: 27px 0;
    height: auto;
  }
  &__wrap {
    width: 1860px;
    margin: 0 auto;
    @include media(max-width 1860px) {
      width: auto;
      margin: 0 2%;
    }
  }
  &__text {
    color: #ffffff;
    font-size: 0.66em;
    @include Demi;
    letter-spacing: 1.3px;
    @include media(max-width 1600px) {
      width: 60%;
      line-height: 25px;
    }
    @include media(max-width 768px) {
      width: auto;
      display: none;
    }
    span {
      color: #a0a0a0;
    }
    &--mobile {
      display: none;
      @include media(max-width 768px) {
        display: block;
        text-align: center;
        @include Demi;
        font-size: 12px;
        p {
          color: #ffffff;
          display: block;
          margin: 0 0 12px 0;
          letter-spacing: 1.5px;
        }
        span {
          color: #a0a0a0;
          display: block;
          padding: 20px 0;
          border-top: 1px solid #595959;
          border-bottom: 1px solid #595959;
          margin: 28px 0 0 0;
          line-height: 24px;
          letter-spacing: 1.7px;
        }
        a{
          margin-left:5px;
        }
      }
    }
  }
  &__facebook {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -83px 0;
    vertical-align: middle;
  }
  &__about {
    color: #a0a0a0;
    font-size: 0.66em;
    @include Demi;
    letter-spacing: 1.2px;
    @include media(max-width 768px) {
      margin-top: 32px;
      display: block;
    }
    span {
      color: #ffffff;
    }
  }
}