header {

}

.header-inner {
  position: relative;
}

.top {
  background: #212121;
  height: 52px;
  @include media(max-width 768px) {
    background: #ffffff;
  }
}

.top-inner {
  @include flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 52px;
  @include media(max-width 768px) {
    display: block;
    position: relative;
  }
  &__left {
    color: #ffffff;
    @include ProCn;
    font-size: 0.83em;
    @include media(max-width 768px) {
      display: none;
    }
    span {
      text-decoration: underline;
    }
  }
  &__right {
    @include flex;
    align-items: center;
    @include clearfix;
    vertical-align: middle;
    @include ProCn;

    nav {
      a {
        font-size: 0.83em;
        color: #ffffff;
        display: inline-block;
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .secondaty-navigation {
    margin-right: 24px;
    @include media(max-width 768px) {
      display: none;
    }
  }
  .top-cart {
    &:before {
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -30px;
      position: absolute;
      z-index: 20;
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../img/icon-sprites/index-icons-sprite.png");
      background-position: 0 0;
      @include media(max-width 768px) {
        width: 22px;
        background-position: -155px 0;
      }
    }
    cursor: pointer;
    position: relative;
    z-index: 30;
    color: #ffffff;
    width: 65px;
    line-height: 32px;
    border-right: 1px solid #424242;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    @include media(max-width 768px) {
      position: absolute;
      right: 100px;
      top: 47px;
      color: #212121;
      display: none;
    }
    &:after {
      content: '';
      background: #323232;
      width: 55px;
      height: 52px;
      display: none;
      position: absolute;
      top: -10px;
      left: -9px;
      z-index: -1;
      @include media(max-width 768px) {
        background: none;
      }
    }
    &__active {
      &:after {
        display: block;
      }
    }
    &__inner {
      display: none;
      position: absolute;
      top: 42px;
      left: -9px;
      border: 1px solid #e3e3e3;
      background: #ffffff;
      width: 371px;
    }
    &__block {
      position: relative;
      @include clearfix;
      padding: 10px 15px 12px 19px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 383px;
        border-bottom: 1px solid #e3e3e3;
        height: 1px;
        bottom: 0;
        left: -4px;
      }

      &--total {
        padding: 16px 23px 15px 24px;
        .top-cart__title {
          text-align: left;
          width: auto;
        }
        .top-cart__price {
          @include Demi;
          text-align: right;
          margin: 0;
          float: right;
          letter-spacing: 1px;
        }
        &:before {
          width: 372px;
        }
      }
      &--buttons {
        padding: 25px 23px 20px 25px;
        .top-cart__button {
          font-size: 11px;
          background: #be2c37;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          display: block;
          width: 156px;
          line-height: 40px;
          vertical-align: middle;
          @include Demi;
          float: left;
          &--right {
            float: right;
            background: #212121;
          }
        }
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
    }
    &__image {
      float: left;
      display: block;
      img {
        display: block;
      }
    }
    &__description {
      @include clearfix;
      float: right;
      text-align: left;
      margin: 4px 3px 0 0;
      width: 205px;
    }
    &__top {
      @include clearfix;
      margin: 0 0 0 5px;
    }
    &__title {
      @include Demi;
      color: #212121;
      font-size: 15px;
      display: block;
      float: left;
      width: 185px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &__delete {
      display: block;
      width: 11px;
      height: 11px;
      border: none;
      border-radius: 0;
      background: transparent url("../img/icon-sprites/index-icons-sprite.png") no-repeat -136px -5px;
      float: left;
      margin: 11px 0 0 0;
    }
    &__price {
      @include Regular;
      color: #be2c37;
      font-size: 13px;
      float: left;
      margin: -8px 0 0 6px;
    }
  }
  .header-form {
    @include clearfix;
    @include media(max-width 768px) {
      display: none;
    }
  }
  .header-search {
    float: left;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #777777;
    width: 200px;
    background: transparent;
    border-radius: 0;
    height: 20px;
    margin-left: 29px;
    font-style: italic;
    color: #777777;
    @include ProCn;
    @include placeholder {
      color: #777777;
    }
    @include noShadowIos;
  }
  .header-submit {
    float: right;
    border: none;
    border-radius: 0;
    background: transparent;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -42px -2px;
    margin: 2px 0 0 9px;
    @include transition;
    &:hover {
      margin: 2px 0 0 19px;
    }
  }
}

.bottom {
  background: rgba(255, 255, 255, 0.85);
  position: relative;
  z-index: 20;
  border-bottom: 1px solid #f1f1f1;
  @include media(max-width 768px) {
    background: #ffffff;
    height: 70px;
  }
}

.bottom-inner {
  position: relative;
  height: 120px;
}

.logotype-block {
  position: absolute;
  top: 50%;
  margin-top: -43px;
  height: 120px;
  width: $size;
  transform-style: preserve-3d;
  animation: spin 3s infinite linear;
  @include media(max-width 768px) {
    -webkit-transform: none;
    transform: none;
    animation: inherit;
    top: 0;
    left: 2%;
    margin-top: -36px;
  }
  @include media(max-width 400px) {
    margin-top: -19px;
  }
}

.logotype {
  display: block;
  position: absolute;
  width: $size;
  height: $height;
  background: url("../img/logo.png") no-repeat;
  &.back {
    transform: translateZ(-$size/9999) rotateY(180deg);
    background-position: 0 0;
    @include media(max-width 400px) {
      display: none;
    }
  }

  &.front {
    transform: translateZ($size/9999);
    background-position: 0 0;
    @include media(max-width 400px) {
      width: 140px;
      transform: none;
      background-size: contain;
      height: 50px;
    }
  }
  @keyframes spin {
    from {
      transform: rotateX(-0deg) rotateY(0);
    }
    to {
      transform: rotateX(-0deg) rotateY(360deg);
    }
  }
}

.main-navigation {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 0;
  @include media(max-width 1170px) {
    margin-top: -20px;
  }
  @include media(max-width 768px) {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 200;
    background: #ffffff;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
  }
  a {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 60px;
      border-right: 1px solid #e8edef;
      -o-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
      @include media(max-width 1170px) {
        height: 40px;
      }
      @include media(max-width 768px) {
        display: none;
      }
    }
    position: relative;
    display: inline-block;
    color: #535353;
    @include ProCn;
    font-size: 1.33em;
    @include transition;
    padding-right: 48px;
    line-height: 60px;
    margin-left: 35px;
    @include media(max-width 1170px) {
      line-height: 40px;
      font-size: 1em;
      padding-right: 20px;
    }
    @include media(max-width 768px) {
      text-align: center;
      font-size: 24px;
      color: #ffffff;
      display: block;
      line-height: 53px;
      vertical-align: middle;
      background: #b62630;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ffffff;
    }
    &:active, &:hover {
      color: #b62630;
      @include media(max-width 768px) {
        color: #b62630;
        background: #ffffff;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      border: none;
      padding: 0;
      &:after {
        display: none;
      }
    }
  }
}

////////////////////////MOBILE MENU///////////////////

.mobile-menu {
  display: none;
  @include media(max-width 768px) {
    display: block;
    position: absolute;
    top: 49px;
    right: 2%;
    width: 28px;
    height: 19px;
    z-index: 50;
  }
}

#nav-icon1 {
  width: 28px;
  height: 19px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 28px;
  background: #be2c37;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0;
  left: 0;
}

#nav-icon1 span:nth-child(2) {
  top: 8px;
  left: 0;
}

#nav-icon1 span:nth-child(3) {
  top: 16px;
  left: 0;

}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.header-mobile-widgets {
  display: none;
  @include media(max-width 768px) {
    display: block;
  }
  .mobile-cart {
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 22px;
      height: 20px;
      top: 50%;
      margin-top: -12px;
      left: 0;
      background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -155px 0;
    }
    margin-top: -30px;
    line-height: 59px;
    position: absolute;
    right: 120px;
    top: 50%;
    padding: 0 5px 0 28px;
    color: #212121;
    font-size: 15px;
    z-index: 20;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -9px;
      height: 60px;
      border-right: 1px solid #e8edef;
      -o-transform: rotate(17deg);
      -webkit-transform: rotate(17deg);
      -moz-transform: rotate(17deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    }
  }
  .mobile-form-button {
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 22px;
      height: 20px;
      top: 50%;
      margin-top: -12px;
      left: 0;
      background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -159px -29px;
    }
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    border: none;
    display: block;
    border-radius: 0;
    width: 20px;
    height: 59px;
    padding: 0 33px 0 0;
    z-index: 20;
    background: none;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 60px;
      border-right: 1px solid #e8edef;
      -o-transform: rotate(17deg);
      -webkit-transform: rotate(17deg);
      -moz-transform: rotate(17deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    }
  }
}

.mobile-form-block {
  display: none;
  position: absolute;
  height: 53px;
  background: #be2c37;
  top: 122px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 13px 2% 0 2%;
}

.mobile-input {
  @include noShadowIos;
  @include placeholder {
    color: #ffffff;
  }
  color: #ffffff;
  font-size: 15px;
  @include ProCn;
  font-style: italic;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
  width: 93%;
  height: 15px;
  background: transparent;
  @include media(max-width 360px) {
    width: 90%;
  }

}

.mobile-submit {
  border: none;
  border-radius: 0;
  background: transparent url("../img/icon-sprites/index-icons-sprite.png") no-repeat -42px -2px;
  width: 18px;
  height: 18px;
}