////////////BANNER STYLES/////////////

.banner {
  margin-top: -120px;
  @include media(max-width 768px) {
    margin: 0;
  }
  &__inner {
    z-index: 10;
  }
  &__link {
    position: relative;
    img {
      display: block;
    }
  }
  &__text {
    color: #ffffff;
    background: #be2c37;
    line-height: 58px;
    padding: 0 20px;
    font-size: 2em;
    position: absolute;
    bottom: 120px;
    right: 375px;
    letter-spacing: 1.6px;
    @include ProCn;
    @include media(max-width 1440px) {
      bottom: 60px;
      right: 100px;
    }
    @include media(max-width 768px) {
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      padding: 0;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 43px;
      font-size: 21px;
    }
    @include media(max-width 400px) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

//////////END BANNER STYLES/////

///////////////PRODUCT STYLES//////////////

.product {
  @include ProCn;
  padding-bottom: 68px;
  @include media(max-width 768px) {
    padding-bottom: 51px;
  }
  &__title {
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 30px;
      height: 1px;
      background: #b62630;
      bottom: 0;
      left: 50%;
      margin-left: -15px;
    }
    position: relative;
    color: #535353;
    font-size: 2.66em;
    text-align: center;
    padding-bottom: 42px;
    padding-top: 66px;
    margin-bottom: 34px;
    letter-spacing: 2.5px;
    @include media(max-width 768px) {
      font-size: 30px;
      text-align: center;
      padding-bottom: 27px;
      padding-top: 28px;
      margin-bottom: 0;
      letter-spacing: 1.5px;
    }
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 30px;
      height: 1px;
      background: #b62630;
      bottom: 5px;
      left: 50%;
      margin-left: -15px;
    }
  }
  &__inner {
    @include clearfix;
    width: 1632px;
    margin: 0 auto;
    @include media(max-width 1600px) {
      width: 1224px;
    }
    @include media(max-width 1200px) {
      width: 816px;
    }
    @include media(max-width 768px) {
      width: auto;
      margin: 0 2%;
    }
  }
  &__block {
    float: left;
    width: 378px;
    margin-right: 15px;
    margin-left: 15px;
    color: #535353;
    @include ProCn;
    margin-bottom: 27px;
    @include media(max-width 1600px) {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 15px;
    }
    @include media(max-width 768px) {
      float: none;
      margin: 0 auto;
    }
    @include media(max-width 400px) {
      width: auto;
    }
  }
  &__image {
    display: block;
    position: relative;
    overflow: hidden;
    img {
      display: block;
    }
    &:hover {
      .product__hover {
        opacity: 1;
        top: 50%;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        color: #535353;
        @include Medium;
        margin-top: -5px;
        font-size: 1em;
        letter-spacing: 4.4px;
      }
    }
  }
  &__hover {
    bottom: -9999px;
    position: absolute;
    margin-top: -30px;
    opacity: 0;
    @include transition;
  }
  &__name {
    font-size: 1.33em;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    display: block;
    color: #535353;
    margin-top: -3px;
    padding-bottom: 17px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 0.83em;
    @include Regular;
    line-height: 25px;
    margin-bottom: 20px;
  }
  &__price {
    font-size: 1em;
    color: #b62630;
    @include Demi;
    display: inline-block;
    margin-right: 24px;
  }
  &__link {
    color: #b62630;
    font-size: 1em;
    @include Medium;
    display: inline-block;
    border-bottom: 1px solid #b62630;
  }
}

////////////////PRODUCT SLIDER/////////////
.product-slider {
  &__outer {
    position: relative;
  }
  &__inner {
    @include media(max-width 1680px) {
      width: 1194px;
    }
    @include media(max-width 1280px) {
      width: 796px;
    }
    @include media(max-width 768px) {
      width: auto;
    }

  }
  &__left-arrow {
    width: 60px;
    height: 100px;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;
    background: url("../img/slider-arrows-sprite.jpg") no-repeat;
    cursor: pointer;
    @include media(max-width 768px) {
      display: none;
    }
    &--right {
      left: auto;
      right: 0;
      background: url("../img/slider-arrows-sprite.jpg") no-repeat 0 -100px;
    }
  }
}

////////////////INDEX LABELS///////////////

.firm-labels {
  background: #f8f8f8;
  @include media(max-width 768px) {
    display: none;
  }
  &__inner {
    @include clearfix;
  }
  &__block {
    &:before{
      content:'';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    display: inline-block;
    float: left;
    width: 16.66%;
    text-align: center;
    height:192px;
    vertical-align: middle;
    @include media(max-width 1480px){
      width: 33%;
      height:90px;
    }
    img {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5;
      @include transition;
      vertical-align: middle;
      display: inline-block;
      &:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
      }
    }
  }
}


////////////////////////////WIDGETS////////////////////////////////

.widgets {
  background: #f8f8f8;
  &__inner {
    @include flex;
    justify-content: space-between;
    @include media(max-width 1180px) {
      display: block;
      text-align: center;
    }
  }
  &__left {
    width: 49.21%;
    position: relative;
    @include media(max-width 1680px) {
      width: 55%;
    }
    @include media(max-width 1280px) {
      width: 60%;
    }
    @include media(max-width 1180px) {
      width: 100%;
      float: none;
    }
    @include media(max-width 480px) {
      display: none;
    }
    img {
      display: block;
    }
    &--right {
      width: 50.79%;
      padding: 48px 0 0 60px;
      @include media(max-width 1680px) {
        width: 45%;
        padding: 20px 0 0 40px;
      }
      @include media(max-width 1280px) {
        width: 40%;
        padding: 20px 0 0 20px;
      }
      @include media(max-width 1180px) {
        width: 100%;
        float: none;
        padding: 20px 0 0 0;

      }
      @include media(max-width 480px) {
        padding: 27px 0 0 0;
        display: block;
      }
    }
  }
  &__slider-text {
    z-index: 30;
    display: block;
    line-height: 49px;
    vertical-align: middle;
    position: absolute;
    top: 39px;
    left: 0;
    padding: 0 17px 0 12px;
    letter-spacing: 0.9px;
    background: #b62630;
    color: #ffffff;
    @include ProCn;
    font-size: 1em;
  }
  &__right-column {

  }
  &__block {
    &:after {
      content: '';
      display: block;
      width: 350px;
      height: 1px;
      background: #dddddd;
      position: absolute;
      bottom: 0;
      @include media(max-width 1180px) {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      @include media(max-width 480px) {
        width: 90%;
      }
    }
    position: relative;
    color: #535353;
    @include ProCn;
    padding-bottom: 28px;
    margin-bottom: 31px;
    @include media(max-width 1680px) {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    @include media(max-width 1180px) {
      text-align: center;
    }
    @include media(max-width 768px) {
      padding-bottom: 17px;
      margin-bottom: 22px;
    }
    &:last-child {
      margin-bottom: 0;
      @include media(max-width 768px) {
        padding-bottom: 28px;
      }
      &:after {
        display: none;
      }
    }
  }
  &__b-title {
    font-size: 1.33em;
    text-align: left;
    margin-bottom: 23px;
    @include media(max-width 1180px) {
      text-align: center;
    }
    &--phone {
      margin-bottom: 32px;
      @include media(max-width 768px) {
        margin-bottom: 22px;
      }
    }
    &--pointer {
      margin-bottom: 33px;
      @include media(max-width 768px) {
        margin-bottom: 23px;
      }
    }
  }
  &__b-inner {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      left: 0;
      width: 52px;
      height: 52px;
      background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat -67px -61px;
      @include media(max-width 1180px) {
        display: none;
      }
    }
    position: relative;
    padding-left: 76px;
    @include media(max-width 1180px) {
      padding: 0;
    }
    &--phone {
      &:before {
        background-position: -142px -61px;
        @include media(max-width 1180px) {
          display: none;
        }
      }
    }
    &--pointer {
      &:before {
        left: 6px;
        width: 41px;
        height: 52px;
        background-position: -1px -61px;
        @include media(max-width 1180px) {
          display: none;
        }
      }
    }
  }
  &__text {
    color: #535353;
    font-size: 0.83em;
    @include Regular;
    margin-bottom: 11px;
    @include media(max-width 400px) {
      line-height: 24px;
    }
    &--bold {
      @include Demi;
      margin-bottom: 11px;
    }
    span {
      @include Demi;
    }
  }
  &__email {
    color: #b62630;
    @include Demi;
  }
  &__map {
    &:before {
      position: absolute;
      content: '';
      left: 4px;
      top: -4px;
      background: url("../img/icon-sprites/index-icons-sprite.png") no-repeat  -119px -4px;
      width: 9px;
      height: 13px;
    }
    position: relative;
    color: #2998e8;
    @include Regular;
    padding-left: 18px;
    font-size: 0.73em;
    text-transform: uppercase;
  }
}

//////////////////////////////SOCIALS///////////////////////////////

.socials {
  padding-top: 70px;
  padding-bottom: 91px;
  @include media(max-width 768px) {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  &__inner {
    @include clearfix;
    @include media(max-width 480px) {
      @include flex;
    }
  }
  &__left {
    float: left;
    width: 570px;
    text-align: center;
    @include media(max-width 1180px) {
      float: none;
      margin: 0 auto;
    }
    @include media(max-width 580px) {
      width: auto;
    }
    &--right {
      float: right;
      @include media(max-width 1180px) {
        float: none;
      }
    }
  }
  &__title {
    margin-bottom: 13px;
    color: #ffffff;
    background: #cd486b;
    @include ProCn;
    font-size: 1.33em;
    padding: 0 7px;
    display: inline-block;
    line-height: 30px;
    &--right {
      background: #3b5998;
    }
    @include media(max-width 480px) {
      margin: 0;
    }
  }
  &__block {
    border-top: 1px solid #dddddd;
    @include clearfix;
    padding-top: 20px;
    @include media(max-width 480px) {
      display: none;
    }
    a {
      float: left;
      display: block;
      margin: 0 10px 10px 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @include media(max-width 580px) {
        width: 32%;
        margin: 0 2% 2% 0;
      }
    }
    img {
      display: block;
    }
  }
}