.pay {
  padding-bottom: 102px;
  @include media(max-width 480px) {
    padding-bottom: 30px;
  }
  &__inner {
    @include clearfix;
    @include media(max-width 480px) {
      @include flex;
      flex-direction: column-reverse;
    }
  }
  &__left {
    width: 580px;
    background: #ffffff;
    padding: 35px 32px 20px 28px;
    float: left;
    @include media(max-width 1180px) {
      width: 49%;
    }
    @include media(max-width 768px) {
      float: none;
      width: 100%;
      padding: 20px 2% 20px 2%;
      margin-bottom: 10px;
    }
    @include media(max-width 768px) {
      margin-bottom: 0;
    }
    &--right {
      color: #535353;
      float: right;
      padding: 35px 32px 59px 31px;
      @include media(max-width 768px) {
        padding: 24px 2% 24px 2%;
        margin-bottom: 0;
      }
      @include media(max-width 768px) {
        margin-bottom: 10px;
      }
      @include media(max-width 480px) {
        padding: 24px 2% 0 2%;
      }
      .pay__row {
        padding-bottom: 6px;
        border-bottom: 1px solid #dddddd;
        @include media(max-width 480px) {
          padding-bottom: 0;
          &:last-of-type {
            border: none;
            display: block;
          }
        }
      }
      .cart__row label {
        margin: 10px 0 14px 0;
        input[type="checkbox"] + span {
          &:before {
            top: 3px;
          }
          line-height: 22px;
          float: left;
        }
      }
    }
  }
  &__row {
    @include clearfix;
    @include media(max-width 480px) {
      &:last-of-type {
        display: none;
      }
    }
    &--total {
      padding-bottom: 9px;
      padding-top: 24px;
      @include media(max-width 480px) {
        padding-top: 15px;
      }
    }
  }
  &__label {
    display: block;
    float: left;
    margin-bottom: 17px;
    @include media(max-width 1180px) {
      width: 49%;
    }
    &--right {
      float: right;
    }
    &--long {
      float: none;
      @include media(max-width 1180px) {
        width: 100%;
      }
    }
    &--checkbox {
      margin-top: 6px;
      margin-bottom: 24px;
    }
  }
  &__in-title {
    display: block;
    color: #a0a0a0;
    @include Demi;
    font-size: 0.66em;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
    i {
      color: #b62630;
    }
  }
  &__input {
    width: 255px;
    height: 50px;
    background: #eeeeee;
    padding-left: 10px;
    border: none;
    @include noShadowIos;
    border-radius: 0;
    @include media(max-width 1180px) {
      width: 100%;
    }
    &--long {
      width: 100%;
    }
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox] + span {
    &:before {
      content: '';
      width: 15px;
      height: 15px;
      left: 0;
      top: 0;
      background: url("../img/icon-sprites/squre-check.png") no-repeat 0 0;
      position: absolute;
    }
    color: #535353;
    font-size: 0.83em;
    @include Demi;
    padding-left: 30px;
    line-height: 15px;
    position: relative;
    cursor: pointer;
  }
  input[type=checkbox]:checked + span {
    &:before {
      background: url("../img/icon-sprites/squre-check.png") no-repeat 0 -20px;
    }
  }
  &__area {
    width: 100%;
    height: 200px;
    background: #eeeeee;
    padding: 15px 0 0 10px;
    border: none;
    @include noShadowIos;
    border-radius: 0;
    resize: none;
    margin-bottom: 6px;
  }
  &__title {
    color: #535353;
    font-size: 1.33em;
    @include ProCn;
    margin-bottom: 31px;
    @include media(max-width 480px) {
      display: none;
    }
    &--pay-method-title {
      margin-top: 31px;
      margin-bottom: 13px;
      @include media(max-width 480px) {
        display: block;
        margin-top: 26px;
        margin-bottom: 2px;
      }
    }
  }
  &__column {
    width: 48%;
    float: left;
    @include media(max-width 480px) {
      width: 50%;
    }
    &--second {
      @include media(max-width 480px) {
        text-align: right;
      }
    }
    p {
      @include ProCn;
      font-size: 1em;
      margin-bottom: 18px;
    }
    .mobile-border {
      border-bottom: 1px solid #dddddd;
      padding-bottom: 17px;
    }
    span {
      color: #b62630;
    }
  }
  .cart__row {
    font-size: inherit;
    @include media(max-width 480px) {
      &:last-child {
        border: none;
        padding: 12px 0 8px;
      }
    }
    img {
      display: inline-block;
      float: left;
      margin: -4px 0 0 7px;
      @include media(max-width 360px) {
        margin: -2px 0 0 7px;
        width: 150px;
      }
    }
    label {
      @include clearfix;
    }
    span {
      float: left;
    }
  }
  .thanks__continue {
    width: 100%;
    border: none;
    letter-spacing: inherit;
    @include media(max-width 480px) {
      display: none;
    }
    &:hover {
      border-left: none;
    }
    &--mobile {
      display: none;
      @include media(max-width 480px) {
        display: block;
        margin-top: -13px;
      }
    }
  }
}