//////////////////////////HERE GOES STYLES OF MAIN TITLE , MAIN SUBPAGE BLOCKS GRID ///////////////////////////////

.content {
  background: #f8f8f8;
  &__outer {
    padding-bottom: 120px;
    @include media(max-width 768px) {
      padding-bottom: 30px;
    }
  }
  &__title-block {
    position: relative;
  }
  &__crumb {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    @include media(max-width 768px) {
      display: none;
    }
    a {
      position: relative;
      color: #919191;
      @include Regular;
      display: inline-block;
      padding-right: 16px;
      font-size: 0.83em;
      &:hover, &.active {
        color: #be2c37;
      }
      &:after {
        font-size: 0.83em;
        @include Regular;
        content: '\00bb';
        position: absolute;
        right: 2px;
        top: 50%;
        color: #919191;
        margin-top: -6px;
      }
      &:last-child {
        padding-right: 0;
        &:after {
          content: '';
        }
      }
    }
  }
  &__title {
    text-align: center;
    color: #535353;
    @include ProCn;
    font-size: 2em;
    padding: 47px 0 40px;
    @include media(max-width 768px) {
      font-size: 1.66em;
      padding: 29px 0 37px;
    }
    &--thanks-page {
      color: #be2c37;
    }
    &--catalog{
      @include media(max-width 768px) {
        display: none;
      }
    }
  }
  &__block {
    background: #ffffff;
    padding: 20px 20px 60px 20px;
    @include clearfix;
    @include media(max-width 768px) {
      padding: 37px 3% 60px 3%;
    }
  }
}

/////////////////////////////////THANKS STYLES //////////////////////
.thanks {
  text-align: center;
  &__image {
    float: left;
    margin: 21px 0 0 42px;
    @include media(max-width 768px) {
      float: none;
      width: auto;
      display: inline-block;
      margin: 0;
    }
  }
  &__right {
    float: right;
    width: 806px;
    color: #535353;
    font-size: 0.83em;
    text-align: left;
    margin-top: 23px;
    @include media(max-width 1180px) {
      width: 65%;
    }
    @include media(max-width 768px) {
      float: none;
      width: auto;
      margin-top: 18px;
    }
  }
  &__order-title {
    @include Bold;
    margin-bottom: 31px;
    @include media(max-width 768px) {
      margin-bottom: 26px;
      line-height: 24px;
    }
    span {
      color: #be2c37;
    }
  }
  &__text {
    @include Regular;
    line-height: 25px;
    margin-bottom: 32px;
    a {
      color: #be2c37;
    }
  }
  &__continue {
    background: #212121;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    @include Medium;
    font-size: 1em;
    border-left: 2px solid #323232;
    line-height: 50px;
    padding: 0 30px 0 28px;
    letter-spacing: 1.2px;
    &:hover{
      background: #b62630;
      border-left: 2px solid #b62630;
    }
  }
}